
Screen {
    align: center middle;
}

.content {
    align-horizontal: center;
}

.content Markdown {
    max-width: 80;
    background-tint: $foreground 5%;
}

.answer {
    text-style: bold;
    border: solid $accent 50%;
}

.answer #prompt {
    background: $accent 90%;
    padding-left: 1;
    padding-right: 1;
}

.answer #validation {
    padding-bottom: 1;
}

.answer Input {
    border: hidden $accent;
    height: 1;
}

.answer Input:focus {
    background: $surface;
}
